In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl
import matplotlib.font_manager as fm

한글폰트설정

Data Read

In [4]:
path='Data/'
file_list=os.listdir(path)
file_list

['2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv']

In [5]:
char=['발생년', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도',  '사고유형_대분류', '법규위반_대분류',
       '도로형태_대분류', '가해자_당사자종별_대분류', '피해자_당사자종별_대분류']
col=['년도', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상자수', '발생지', '사고유형', '법규위반',
       '도로형태', '가해자', '피해자']

In [6]:
data=[]
for i in file_list :
    print(i);
    d=pd.read_csv(path+i,  encoding = 'utf-8')
    d=d.dropna()
    d=d[char]
    d.columns=col
    d['부상자수']=d['부상자수']+d['경상자수']+d['중상자수']
    d=d.drop('경상자수',1)
    d=d.drop('중상자수',1)
    d=d.replace({'주야':'주'},{'주야':'주간'})
    d=d.replace({'주야':'야'},{'주야':'야간'})
    d=d.replace({'피해자':'0'},{'피해자':'없음'})
    d['횟수']=1
    data.append(d)

2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv

In [42]:
totalData=pd.concat([data[0],data[1]],axis=0)
for i in range(2,len(data)):
    totalData=pd.concat([totalData,data[i]],axis=0)
hurtData=totalData
hurtData

        년도  주야 요일  사망자수  사상자수  부상자수 발생지  사고유형     법규위반   도로형태  가해자  피해자  횟수
0     2012  야간  수     1     1     0  경남   차대차  운전자법규위반    단일로  승용차  화물차   1
1     2012  주간  금     1     1     0  경기   차대차  운전자법규위반    단일로  화물차  특수차   1
2     2012  야간  금     1     2     1  경북   차대차  운전자법규위반    단일로  승용차  승용차   1
3     2012  주간  목     1     1     0  경기   차대차  운전자법규위반    단일로  화물차  승용차   1
4     2012  야간  월     1     1     0  전남   차대차  운전자법규위반  기타/불명  화물차  화물차   1
...    ...  .. ..   ...   ...   ...  ..   ...      ...    ...  ...  ...  ..
3652  2018  야간  월     1     1     0  경기  차량단독  운전자법규위반    단일로  승용차   없음   1
3653  2018  주간  금     1     1     0  경기   차대차  운전자법규위반    단일로  화물차  농기계   1
3654  2018  주간  토     1     1     0  경기  차량단독  운전자법규위반    단일로  승용차   없음   1
3655  2018  야간  토     1     1     0  경기   차대차  운전자법규위반    단일로  승용차  승용차   1
3656  2018  주간  월     1     2     1  경기   차대차  운전자법규위반    단일로  승용차  승용차   1

[30087 rows x 13 columns]

In [89]:
d=totalData

col_2=['년도', '주야', '요일', '사망자수', '사상자수', '부상자수', '발생지', '사고유형', '법규위반', '도로형태',
       '가해자', '피해자', '횟수']

d=d.replace({col_2[1]:'주간'},{col_2[1]:'Day'})
d=d.replace({col_2[1]:'야간'},{col_2[1]:'Night'})

d=d.replace({col_2[2]:'월'},{col_2[2]:'Mon'})
d=d.replace({col_2[2]:'화'},{col_2[2]:'Tue'})
d=d.replace({col_2[2]:'수'},{col_2[2]:'Wed'})
d=d.replace({col_2[2]:'목'},{col_2[2]:'Thu'})
d=d.replace({col_2[2]:'금'},{col_2[2]:'Fri'})
d=d.replace({col_2[2]:'토'},{col_2[2]:'Sat'})
d=d.replace({col_2[2]:'일'},{col_2[2]:'Sun'})

d=d.replace({col_2[6]:'경기'},{col_2[6]:'Gyeonggi'})
d=d.replace({col_2[6]:'경북'},{col_2[6]:'Gyeongbuk'})
d=d.replace({col_2[6]:'전남'},{col_2[6]:'Jeonnam'})
d=d.replace({col_2[6]:'충남'},{col_2[6]:'Chungcheongnam'})
d=d.replace({col_2[6]:'경남'},{col_2[6]:'Gyeongsangnam'})
d=d.replace({col_2[6]:'서울'},{col_2[6]:'Seoul'})
d=d.replace({col_2[6]:'강원'},{col_2[6]:'Gangwon'})
d=d.replace({col_2[6]:'충북'},{col_2[6]:'Chungbuk'})
d=d.replace({col_2[6]:'전북'},{col_2[6]:'Jeonbuk'})
d=d.replace({col_2[6]:'인천'},{col_2[6]:'Incheon'})
d=d.replace({col_2[6]:'부산'},{col_2[6]:'Busan'})
d=d.replace({col_2[6]:'울산'},{col_2[6]:'Ulsan'})
d=d.replace({col_2[6]:'대전'},{col_2[6]:'Daejeon'})
d=d.replace({col_2[6]:'제주'},{col_2[6]:'Jeju'})
d=d.replace({col_2[6]:'광주'},{col_2[6]:'Gwangju'})
d=d.replace({col_2[6]:'세종'},{col_2[6]:'Sejong'})
d=d.replace({col_2[6]:'대구'},{col_2[6]:'Daegu'})

d=d.replace({col_2[7]:'차대사람'},{col_2[7]:'Car and People'})
d=d.replace({col_2[7]:'차대차'},{col_2[7]:'Car and Car'})
d=d.replace({col_2[7]:'차량단독'},{col_2[7]:'Only Car'})
d=d.replace({col_2[7]:'건널목'},{col_2[7]:'Crossing'})
d=d.replace({col_2[7]:'철길건널목'},{col_2[7]:'pedestrian crossing'})

d=d.replace({col_2[8]:'운전자법규위반'},{col_2[8]:'Violation of drivers laws'})
d=d.replace({col_2[8]:'보행자과실'},{col_2[8]:'pedestrian negligence'})
d=d.replace({col_2[8]:'정비불량'},{col_2[8]:'defective maintenance'})

d=d.replace({col_2[9]:'교차로'},{col_2[9]:'crossroad'})
d=d.replace({col_2[9]:'기타'},{col_2[9]:'Other'})
d=d.replace({col_2[9]:'기타/불명'},{col_2[9]:'Other/Unknown'})
d=d.replace({col_2[9]:'단일로'},{col_2[9]:'singleroad'})
d=d.replace({col_2[9]:'지하도로내'},{col_2[9]:'Inside the underground road'})
d=d.replace({col_2[9]:'건널목'},{col_2[9]:'Crossing'})
d=d.replace({col_2[9]:'철길건널목'},{col_2[9]:'pedestrian crossing'})
d=d.replace({col_2[9]:'고가도로위'},{col_2[9]:'overpass'})
d=d.replace({col_2[9]:'주차장'},{col_2[9]:'parking lot'})
d=d.replace({col_2[9]:'불명'},{col_2[9]:'unknown'})

d=d.replace({col_2[10]:'건설기계'},{col_2[10]:'construction machinery'})
d=d.replace({col_2[10]:'농기계'},{col_2[10]:'agricultural machinery'})
d=d.replace({col_2[10]:'승용차'},{col_2[10]:'a car'})
d=d.replace({col_2[10]:'승합차'},{col_2[10]:'a van'})
d=d.replace({col_2[10]:'이륜차'},{col_2[10]:'a two-wheeled car'})
d=d.replace({col_2[10]:'특수차'},{col_2[10]:'special car'})
d=d.replace({col_2[10]:'개인형이동수단(PM)'},{col_2[10]:'PM'})
d=d.replace({col_2[10]:'기타'},{col_2[10]:'etc'})
d=d.replace({col_2[10]:'불명'},{col_2[10]:'unknown'})
d=d.replace({col_2[10]:'사륜오토바이(ATV)'},{col_2[10]:'ATV'})
d=d.replace({col_2[10]:'원동기장치자전거'},{col_2[10]:'motor bicycle'})
d=d.replace({col_2[10]:'자전거'},{col_2[10]:'bicycle'})

d=d.replace({col_2[11]:'건설기계'},{col_2[11]:'construction machinery'})
d=d.replace({col_2[11]:'보행자'},{col_2[11]:'Pedestrian'})
d=d.replace({col_2[11]:'승용차'},{col_2[11]:'a car'})
d=d.replace({col_2[11]:'승합차'},{col_2[11]:'a van'})
d=d.replace({col_2[11]:'없음'},{col_2[11]:'none'})
d=d.replace({col_2[11]:'이륜차'},{col_2[11]:'a two-wheeled car'})
d=d.replace({col_2[11]:'특수차'},{col_2[11]:'special car'})
d=d.replace({col_2[11]:'화물차'},{col_2[11]:'a freight car'})

#d.to_csv('hurtData.csv',encoding='euc-kr', index=False)

d.columns=['year','dayAndNight','week','death','casualty','injuredPerson','location','accKind','violationLaw','roadKind','perpetrator','victim','count']
hurtData=d
hurtData.to_csv('hurtData.csv',encoding='euc-kr', index=False)

사고의 특징

In [56]:
total=len(hurtData)
total

30087

In [58]:
test=hurtData.drop('year',axis=1)
test=test.groupby(by=['location'], as_index=False).sum()
test=test.sort_values(by='count', ascending=False)
test=test[['location','count']]
test.set_index(test['location'], inplace=True)
test=test.drop('location',1)
test.columns=['percent']
test=test.T
for i in test.columns :
    test[i]=round(test[i]/total*100,2)

test.to_csv('location.csv',encoding='euc-kr', index=True)
test

location,Gyeonggi,Gyeongbuk,Gyeongsangnam,Jeonnam,Chungcheongnam,Seoul,Jeonbuk,Chungbuk,Gangwon,Busan,Daegu,Incheon,Gwangju,Daejeon,Ulsan,Jeju,Sejong
percent,18.89,10.5,8.68,8.6,8.35,8.27,6.81,5.39,4.91,3.92,3.65,3.17,2.22,2.22,2.04,1.95,0.43

In [82]:
col_2=['dayAndNight','count']
dayNight=hurtData[col_2]
dayNight=dayNight.groupby(by=['dayAndNight'], as_index=False).sum()
dayNight.set_index(dayNight['dayAndNight'], inplace=True)
dayNight=dayNight.drop('dayAndNight',1)
dayNight.columns=['percent']
dayNight=dayNight.T
for i in dayNight.columns :
    dayNight[i]=round(dayNight[i]/total*100,2)
dayNight.to_csv('dayAndNight.csv',encoding='euc-kr', index=True)
dayNight

dayAndNight    Day  Night
percent      48.56  51.44

In [83]:
col_2=['week','count']
weekChar=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
week=hurtData[col_2]
week=week.groupby(by=['week'], as_index=False).sum()
week.set_index(week['week'], inplace=True)
week=week.drop('week',1)
week=week.reindex(index=weekChar)
week.columns=['percent']
week=week.T
for i in week.columns :
    week[i]=round(week[i]/total*100,2)
week.to_csv('week.csv',encoding='euc-kr', index=True)
week

week       Mon    Tue    Wed    Thu   Fri    Sat    Sun
percent  14.66  14.72  14.15  14.23  14.9  14.84  12.51

In [84]:
col_2=['accKind','count']
accKind=hurtData[col_2]
accKind=accKind.groupby(by=['accKind'], as_index=False).sum()
accKind.set_index(accKind['accKind'], inplace=True)
accKind=accKind.drop('accKind',1)
accKind.columns=['percent']
accKind=accKind.T
for i in accKind.columns :
    accKind[i]=round(accKind[i]/total*100,2)
accKind.to_csv('accKind.csv',encoding='euc-kr', index=True)
accKind

accKind  Car and Car  Car and People  Crossing  Only Car  pedestrian crossing
percent        40.44           40.26      0.01     19.28                 0.01

In [85]:
col_2=['roadKind','count']
roadKind=hurtData[col_2]
roadKind=roadKind.groupby(by=['roadKind'], as_index=False).sum()
roadKind.set_index(roadKind['roadKind'], inplace=True)
roadKind=roadKind.drop('roadKind',1)
roadKind.columns=['percent']
roadKind=roadKind.T
for i in roadKind.columns :
    roadKind[i]=round(roadKind[i]/total*100,2)
roadKind.to_csv('roadKind.csv',encoding='euc-kr', index=True)
roadKind

roadKind,Crossing,Inside the underground road,Other,Other/Unknown,crossroad,overpass,parking lot,pedestrian crossing,singleroad,unknown
percent,0.01,0.13,0.76,1.78,31.13,0.25,0.04,0.01,65.84,0.04

In [97]:
col_2=['violationLaw','count']
violationLaw=hurtData[col_2]
violationLaw=violationLaw.groupby(by=['violationLaw'], as_index=False).sum()
violationLaw.set_index(violationLaw['violationLaw'], inplace=True)
violationLaw=violationLaw.drop('violationLaw',1)
violationLaw.columns=['percent']
violationLaw=violationLaw.T
for i in violationLaw.columns :
    violationLaw[i]=round(violationLaw[i]/total*100,3)
violationLaw.to_csv('violationLaw.csv',encoding='euc-kr', index=True)
violationLaw

violationLaw,Violation of drivers laws,defective maintenance,pedestrian negligence
percent,99.97,0.027,0.003

In [98]:
col_2=['perpetrator','count']
perpetrator=hurtData[col_2]
perpetrator=perpetrator.groupby(by=['perpetrator'], as_index=False).sum()
perpetrator.set_index(perpetrator['perpetrator'], inplace=True)
perpetrator=perpetrator.drop('perpetrator',1)
perpetrator.columns=['percent']
perpetrator=perpetrator.T
#perpetrator.to_csv('Data/Processing/perpetrator.csv',encoding='euc-kr', index=True)
perpetrator

perpetrator,a car,a freight car,a two-wheeled car,a van,agricultural machinery,construction machinery,special car,개인형이동수단(PM),기타,불명,사륜오토바이(ATV),원동기장치자전거,자전거
percent,14917,6891,2596,2194,454,665,313,8,7,54,96,1188,704

In [23]:
col_2=['피해자','비율']
victim=hurtData[col_2]
victim=victim.groupby(by=['피해자'], as_index=False).sum()
victim.set_index(victim['피해자'], inplace=True)
victim=victim.drop('피해자',1)
victim.columns=['percent']
victim=victim.T
for i in victim.columns :
    victim[i]=victim[i]/total*100
#victim.to_csv('Data/Processing/victim.csv',encoding='euc-kr', index=True)
victim

피해자,건설기계,보행자,승용차,승합차,없음,이륜차,특수차,화물차
횟수,2.202643,3.524229,29.955947,35.682819,8.810573,0.440529,1.321586,18.061674

In [24]:
col_2=['사망자수','비율']
death=hurtData[col_2]
death=death.groupby(by=['사망자수'], as_index=False).sum()
death.set_index(death['사망자수'], inplace=True)
death=death.drop('사망자수',1)
death.columns=['percent']
death=death.T
for i in death.columns :
    death[i]=death[i]/total*100
#death.to_csv('Data/Processing/death.csv',encoding='euc-kr', index=True)
death

사망자수          1          2         3         4         5         6         8
횟수    72.687225  15.859031  5.286344  3.964758  0.881057  0.881057  0.440529

In [25]:
col_2=['부상자수','비율']
hurt=hurtData[col_2]
hurt=hurt.groupby(by=['부상자수'], as_index=False).sum()
hurt.set_index(hurt['부상자수'], inplace=True)
hurt=hurt.drop('부상자수',1)
hurt.columns=['percent']
hurt=hurt.T
for i in hurt.columns :
    hurt[i]=hurt[i]/total*100
#hurt.to_csv('Data/Processing/hurt.csv',encoding='euc-kr', index=True)
hurt

부상자수,4,5,6,7,8,9,10,11,12,13,...,39,40,42,46,49,56,58,66,96,104
횟수,0.440529,0.440529,0.440529,0.881057,3.524229,14.977974,18.502203,8.810573,6.167401,4.405286,...,0.881057,0.440529,0.881057,0.440529,0.440529,0.440529,0.440529,0.440529,0.440529,0.440529