In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl
import matplotlib.font_manager as fm

한글폰트설정

In [2]:
fontPath = 'NanumBarunGothic.ttf' # For Windows
fontprop=fm.FontProperties(fname=fontPath, size=18)

In [3]:
import matplotlib
from matplotlib import font_manager, rc
import platform

if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="NanumBarunGothic.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac 인 경우
    rc('font', family='AppleGothic')
    
matplotlib.rcParams['axes.unicode_minus'] = False   
#그래프에서 마이너스 기호가 표시되도록 하는 설정입니다.

Data Read

In [4]:
path='Data/'
file_list=os.listdir(path)
file_list

['2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 'Processing']

In [5]:
char=['발생년', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도',  '사고유형_대분류', '법규위반_대분류',
       '도로형태_대분류', '가해자_당사자종별_대분류', '피해자_당사자종별_대분류']
col=['년도', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상자수', '발생지', '사고유형', '법규위반',
       '도로형태', '가해자', '피해자']

In [6]:
data=[]
for i in file_list :
    print(i);
    d=pd.read_csv(path+i,  encoding = 'utf-8')
    d=d.dropna()
    d=d[char]
    d.columns=col
    d['부상자수']=d['부상자수']+d['경상자수']+d['중상자수']
    d=d.drop('경상자수',1)
    d=d.drop('중상자수',1)
    d=d.replace({'주야':'주'},{'주야':'주간'})
    d=d.replace({'주야':'야'},{'주야':'야간'})
    d=d.replace({'피해자':'0'},{'피해자':'없음'})
    d['횟수']=1
    data.append(d)

2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
Processing

PermissionError: [Errno 13] Permission denied: 'Data/Processing'

In [20]:
totalData=pd.concat([data[0],data[1]],axis=0)
for i in range(2,len(data)):
    totalData=pd.concat([totalData,data[i]],axis=0)
hurtData=totalData[totalData['사상자수']>=10]
col_2=['year','dayAndNight','week','death','casualty','injuredPerson','location','accKind','violationLaw','roadKind','perpetrator','victim','Count']
hurtData.columns=col_2
hurtData.head(2)

,year,dayAndNight,week,death,casualty,injuredPerson,location,accKind,violationLaw,roadKind,perpetrator,victim,Count
63,2012,주간,일,1,12,11,충남,차량단독,운전자법규위반,단일로,승합차,없음,1
125,2012,야간,월,1,10,9,충남,차대차,운전자법규위반,단일로,승합차,화물차,1

In [22]:
d=hurtData
d=d.replace({col_2[0]:'주간'},{col_2[0]:'Day'})
d=d.replace({col_2[0]:'야간'},{col_2[0]:'Night'})

d=d.replace({col_2[2]:'월'},{col_2[2]:'Mon'})
d=d.replace({col_2[2]:'화'},{col_2[2]:'Tue'})
d=d.replace({col_2[2]:'수'},{col_2[2]:'Wed'})
d=d.replace({col_2[2]:'목'},{col_2[2]:'Thu'})
d=d.replace({col_2[2]:'금'},{col_2[2]:'Fri'})
d=d.replace({col_2[2]:'토'},{col_2[2]:'Sat'})
d=d.replace({col_2[2]:'일'},{col_2[2]:'Sun'})

d=d.replace({col_2[6]:'경기'},{col_2[6]:'Gyeonggi'})
d=d.replace({col_2[6]:'경북'},{col_2[6]:'Gyeongbuk'})
d=d.replace({col_2[6]:'전남'},{col_2[6]:'Jeonnam'})
d=d.replace({col_2[6]:'충남'},{col_2[6]:'Chungcheongnam'})
d=d.replace({col_2[6]:'경남'},{col_2[6]:'Gyeongsangnam'})
d=d.replace({col_2[6]:'서울'},{col_2[6]:'Seoul'})
d=d.replace({col_2[6]:'강원'},{col_2[6]:'Gangwon'})
d=d.replace({col_2[6]:'충북'},{col_2[6]:'Chungbuk'})
d=d.replace({col_2[6]:'전북'},{col_2[6]:'Jeonbuk'})
d=d.replace({col_2[6]:'인천'},{col_2[6]:'Incheon'})
d=d.replace({col_2[6]:'부산'},{col_2[6]:'Busan'})
d=d.replace({col_2[6]:'울산'},{col_2[6]:'Ulsan'})
d=d.replace({col_2[6]:'대전'},{col_2[6]:'Daejeon'})
d=d.replace({col_2[6]:'제주'},{col_2[6]:'Jeju'})
d=d.replace({col_2[6]:'광주'},{col_2[6]:'Gwangju'})
d=d.replace({col_2[6]:'대구'},{col_2[6]:'Daegu'})

d=d.replace({col_2[7]:'차대사람'},{col_2[7]:'Car and People'})
d=d.replace({col_2[7]:'차대차'},{col_2[7]:'Car and Car'})
d=d.replace({col_2[7]:'차량단독'},{col_2[7]:'Only Car'})

d=d.replace({col_2[8]:'운전자법규위반'},{col_2[8]:'Violation of drivers laws'})

d=d.replace({col_2[9]:'교차로'},{col_2[9]:'crossroad'})
d=d.replace({col_2[9]:'기타'},{col_2[9]:'Other'})
d=d.replace({col_2[9]:'기타/불명'},{col_2[9]:'Other/Unknown'})
d=d.replace({col_2[9]:'단일로'},{col_2[9]:'single-handedly'})
d=d.replace({col_2[9]:'지하도로내'},{col_2[9]:'Inside the underground road'})

d=d.replace({col_2[10]:'건설기계'},{col_2[10]:'construction machinery'})
d=d.replace({col_2[10]:'농기계'},{col_2[10]:'agricultural machinery'})
d=d.replace({col_2[10]:'승용차'},{col_2[10]:'a car'})
d=d.replace({col_2[10]:'승합차'},{col_2[10]:'a van'})
d=d.replace({col_2[10]:'이륜차'},{col_2[10]:'a two-wheeled car'})
d=d.replace({col_2[10]:'특수차'},{col_2[10]:'special car'})
d=d.replace({col_2[10]:'화물차'},{col_2[10]:'a freight car'})

d=d.replace({col_2[10]:'건설기계'},{col_2[10]:'construction machinery'})
d=d.replace({col_2[10]:'농기계'},{col_2[10]:'agricultural machinery'})
d=d.replace({col_2[10]:'승용차'},{col_2[10]:'a car'})
d=d.replace({col_2[10]:'승합차'},{col_2[10]:'a van'})
d=d.replace({col_2[10]:'이륜차'},{col_2[10]:'a two-wheeled car'})
d=d.replace({col_2[10]:'특수차'},{col_2[10]:'special car'})
d=d.replace({col_2[10]:'화물차'},{col_2[10]:'a freight car'})

건설기계	보행자	승용차	승합차	없음	이륜차	특수차	화물차
d=d.replace({col_2[11]:'건설기계'},{col_2[11]:'construction machinery'})
d=d.replace({col_2[11]:'보행자'},{col_2[11]:'Pedestrian'})
d=d.replace({col_2[11]:'승용차'},{col_2[11]:'a car'})
d=d.replace({col_2[11]:'승합차'},{col_2[11]:'a van'})
d=d.replace({col_2[11]:'없음'},{col_2[11]:'None.'})
d=d.replace({col_2[11]:'이륜차'},{col_2[11]:'a two-wheeled car'})
d=d.replace({col_2[11]:'특수차'},{col_2[11]:'special car'})
d=d.replace({col_2[11]:'화물차'},{col_2[11]:'a freight car'})

d

SyntaxError: invalid syntax (<ipython-input-22-6d489015139b>, line 58)

In [ ]:
hurtData.to_csv('Data/Processing/hurtData.csv',encoding='euc-kr', index=False)

사상자수 10명이상 사고의 특징

In [11]:
test=hurtData.drop('년도',1)
test=test.groupby(by=['발생지'], as_index=False).sum()
test=test.sort_values(by='횟수', ascending=False)
test=test[['발생지','횟수']]
test.set_index(test['발생지'], inplace=True)
test=test.drop('발생지',1)
test=test.T
#test.to_csv('Data/Processing/location.csv',encoding='euc-kr', index=True)
test

발생지  경기  경북  전남  충남  경남  서울  강원  충북  전북  인천  부산  울산  대전  제주  광주  대구
횟수   43  28  21  20  18  18  15  14  11   9   8   6   5   5   3   3

In [12]:
col_2=['주야','횟수']
dayNight=hurtData[col_2]
dayNight=dayNight.groupby(by=['주야'], as_index=False).sum()
dayNight.set_index(dayNight['주야'], inplace=True)
dayNight=dayNight.drop('주야',1)
dayNight=dayNight.T
#dayNight.to_csv('Data/Processing/dayAndNight.csv',encoding='euc-kr', index=True)
dayNight

주야  야간   주간
횟수  80  147

In [13]:
col_2=['요일','횟수']
weekChar=['월','화','수','목','금','토','일']
week=hurtData[col_2]
week=week.groupby(by=['요일'], as_index=False).sum()
week.set_index(week['요일'], inplace=True)
week=week.drop('요일',1)
week=week.reindex(index=weekChar)
week=week.T
#week.to_csv('Data/Processing/week.csv',encoding='euc-kr', index=True)
week

요일   월   화   수   목   금   토   일
횟수  26  31  34  30  37  40  29

In [14]:
col_2=['사고유형','횟수']
accKind=hurtData[col_2]
accKind=accKind.groupby(by=['사고유형'], as_index=False).sum()
accKind.set_index(accKind['사고유형'], inplace=True)
accKind=accKind.drop('사고유형',1)
accKind=accKind.T
#accKind.to_csv('Data/Processing/accKind.csv',encoding='euc-kr', index=True)
accKind

사고유형  차대사람  차대차  차량단독
횟수       8  199    20

In [15]:
col_2=['도로형태','횟수']
roadKind=hurtData[col_2]
roadKind=roadKind.groupby(by=['도로형태'], as_index=False).sum()
roadKind.set_index(roadKind['도로형태'], inplace=True)
roadKind=roadKind.drop('도로형태',1)
roadKind=roadKind.T
#roadKind.to_csv('Data/Processing/roadKind.csv',encoding='euc-kr', index=True)
roadKind

도로형태  교차로  기타  기타/불명  단일로  지하도로내
횟수     55   2      4  165      1

In [16]:
col_2=['법규위반','횟수']
violationLaw=hurtData[col_2]
violationLaw=violationLaw.groupby(by=['법규위반'], as_index=False).sum()
violationLaw.set_index(violationLaw['법규위반'], inplace=True)
violationLaw=violationLaw.drop('법규위반',1)
violationLaw=violationLaw.T
#violationLaw.to_csv('Data/Processing/violationLaw.csv',encoding='euc-kr', index=True)
violationLaw

법규위반  운전자법규위반
횟수        227

In [17]:
col_2=['가해자','횟수']
perpetrator=hurtData[col_2]
perpetrator=perpetrator.groupby(by=['가해자'], as_index=False).sum()
perpetrator.set_index(perpetrator['가해자'], inplace=True)
perpetrator=perpetrator.drop('가해자',1)
perpetrator=perpetrator.T
#perpetrator.to_csv('Data/Processing/perpetrator.csv',encoding='euc-kr', index=True)
perpetrator

가해자  건설기계  농기계  승용차  승합차  이륜차  특수차  화물차
횟수     10    1   69  100    1    1   45

In [18]:
col_2=['피해자','횟수']
victim=hurtData[col_2]
victim=victim.groupby(by=['피해자'], as_index=False).sum()
victim.set_index(victim['피해자'], inplace=True)
victim=victim.drop('피해자',1)
victim=victim.T
#victim.to_csv('Data/Processing/victim.csv',encoding='euc-kr', index=True)
victim

피해자  건설기계  보행자  승용차  승합차  없음  이륜차  특수차  화물차
횟수      5    8   68   81  20    1    3   41

In [19]:
col_2=['사망자수','횟수']
death=hurtData[col_2]
death=death.groupby(by=['사망자수'], as_index=False).sum()
death.set_index(death['사망자수'], inplace=True)
death=death.drop('사망자수',1)
death=death.T
#death.to_csv('Data/Processing/death.csv',encoding='euc-kr', index=True)
death

사망자수    1   2   3  4  5  6  8
횟수    165  36  12  9  2  2  1

In [287]:
col_2=['부상자수','횟수']
hurt=hurtData[col_2]
hurt=hurt.groupby(by=['부상자수'], as_index=False).sum()
hurt.set_index(hurt['부상자수'], inplace=True)
hurt=hurt.drop('부상자수',1)
hurt=hurt.T
#hurt.to_csv('Data/Processing/hurt.csv',encoding='euc-kr', index=True)
hurt

부상자수,4,5,6,7,8,9,10,11,12,13,...,39,40,42,46,49,56,58,66,96,104
횟수,1,1,1,2,8,34,42,20,14,10,...,2,1,2,1,1,1,1,1,1,1