In [77]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl
import matplotlib.font_manager as fm

한글폰트설정

In [78]:
fontPath = 'NanumBarunGothic.ttf' # For Windows
fontprop=fm.FontProperties(fname=fontPath, size=18)

In [84]:
import matplotlib
from matplotlib import font_manager, rc
import platform

if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="NanumBarunGothic.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac 인 경우
    rc('font', family='AppleGothic')
    
matplotlib.rcParams['axes.unicode_minus'] = False   
#그래프에서 마이너스 기호가 표시되도록 하는 설정입니다.

Data Read

In [5]:
path='Data/'
file_list=os.listdir(path)
file_list

['2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv']

In [6]:
char=['발생년', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도',  '사고유형_대분류', '법규위반_대분류',
       '도로형태_대분류', '가해자_당사자종별_대분류', '피해자_당사자종별_대분류']
col=['년도', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상자수', '발생지', '사고유형', '법규위반',
       '도로형태', '가해자', '피해자']

In [245]:
data=[]
for i in file_list :
    print(i);
    d=pd.read_csv(path+i,  encoding = 'utf-8')
    d=d.dropna()
    d=d[char]
    d.columns=col
    d['부상자수']=d['부상자수']+d['경상자수']+d['중상자수']
    d=d.drop('경상자수',1)
    d=d.drop('중상자수',1)
    d=d.replace({'주야':'주'},{'주야':'주간'})
    d=d.replace({'주야':'야'},{'주야':'야간'})
    d=d.replace({'피해자':'0'},{'피해자':'없음'})
    d['횟수']=1
    data.append(d)

2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv

사상자수 10명이상 사고의 특징

In [258]:
totalData=pd.concat([data[0],data[1]],axis=0)
for i in range(2,len(data)):
    totalData=pd.concat([totalData,data[i]],axis=0)
hurtData=totalData[totalData['사상자수']>=10]
hurtData.to_csv('Data/Processing/hurtData.csv',encoding='euc-kr', index=False)

test=hurtData.drop('년도',1)
test=test.groupby(by=['발생지'], as_index=False).sum()
test=test.sort_values(by='횟수', ascending=False)
test=test[['발생지','횟수']]
test.set_index(test['발생지'], inplace=True)
test=test.drop('발생지',1)
test=test.T
test.to_csv('Data/Processing/location.csv',encoding='euc-kr', index=True)

col_2=['주야','횟수']
dayNight=hurtData[col_2]
dayNight=dayNight.groupby(by=['주야'], as_index=False).sum()
dayNight.set_index(dayNight['주야'], inplace=True)
dayNight=dayNight.drop('주야',1)
dayNight=dayNight.T
dayNight.to_csv('Data/Processing/dayAndNight.csv',encoding='euc-kr', index=True)

col_2=['요일','횟수']
weekChar=['월','화','수','목','금','토','일']
week=hurtData[col_2]
week=week.groupby(by=['요일'], as_index=False).sum()
week.set_index(week['요일'], inplace=True)
week=week.drop('요일',1)
week=week.reindex(index=weekChar)
week=week.T
week.to_csv('Data/Processing/week.csv',encoding='euc-kr', index=True)

col_2=['사고유형','횟수']
accKind=hurtData[col_2]
accKind=accKind.groupby(by=['사고유형'], as_index=False).sum()
accKind.set_index(accKind['사고유형'], inplace=True)
accKind=accKind.drop('사고유형',1)
accKind=accKind.T
accKind.to_csv('Data/Processing/accKind.csv',encoding='euc-kr', index=True)

col_2=['도로형태','횟수']
roadKind=hurtData[col_2]
roadKind=roadKind.groupby(by=['도로형태'], as_index=False).sum()
roadKind.set_index(roadKind['도로형태'], inplace=True)
roadKind=roadKind.drop('도로형태',1)
roadKind=roadKind.T
roadKind.to_csv('Data/Processing/roadKind.csv',encoding='euc-kr', index=True)

col_2=['법규위반','횟수']
violationLaw=hurtData[col_2]
violationLaw=violationLaw.groupby(by=['법규위반'], as_index=False).sum()
violationLaw.set_index(violationLaw['법규위반'], inplace=True)
violationLaw=violationLaw.drop('법규위반',1)
violationLaw=violationLaw.T
violationLaw.to_csv('Data/Processing/violationLaw.csv',encoding='euc-kr', index=True)

col_2=['가해자','횟수']
perpetrator=hurtData[col_2]
perpetrator=perpetrator.groupby(by=['가해자'], as_index=False).sum()
perpetrator.set_index(perpetrator['가해자'], inplace=True)
perpetrator=perpetrator.drop('가해자',1)
perpetrator=perpetrator.T
perpetrator.to_csv('Data/Processing/perpetrator.csv',encoding='euc-kr', index=True)

col_2=['피해자','횟수']
victim=hurtData[col_2]
victim=victim.groupby(by=['피해자'], as_index=False).sum()
victim.set_index(victim['피해자'], inplace=True)
victim=victim.drop('피해자',1)
victim=victim.T
victim.to_csv('Data/Processing/victim.csv',encoding='euc-kr', index=True)

In [285]:
col_2=['사망자수','횟수']
death=hurtData[col_2]
death=death.groupby(by=['사망자수'], as_index=False).sum()
death.set_index(death['사망자수'], inplace=True)
death=death.drop('사망자수',1)
death=death.T
death.to_csv('Data/Processing/death.csv',encoding='euc-kr', index=True)
death

사망자수    1   2   3  4  5  6  8
횟수    165  36  12  9  2  2  1

In [287]:
col_2=['부상자수','횟수']
hurt=hurtData[col_2]
hurt=hurt.groupby(by=['부상자수'], as_index=False).sum()
hurt.set_index(hurt['부상자수'], inplace=True)
hurt=hurt.drop('부상자수',1)
hurt=hurt.T
hurt.to_csv('Data/Processing/hurt.csv',encoding='euc-kr', index=True)
hurt

부상자수,4,5,6,7,8,9,10,11,12,13,...,39,40,42,46,49,56,58,66,96,104
횟수,1,1,1,2,8,34,42,20,14,10,...,2,1,2,1,1,1,1,1,1,1

사망자수

In [283]:
totalData=pd.concat([data[0],data[1]],axis=0)
for i in range(2,len(data)):
    totalData=pd.concat([totalData,data[i]],axis=0)
totalData2=totalData.sort_values(by='사망자수', ascending=False)
deathData=totalData2[totalData2['사망자수']>=5]
deathData.to_csv('Data/Processing/deathData.csv',encoding='euc-kr', index=False)
deathData

        년도  주야 요일  사망자수  사상자수  부상자수 발생지 사고유형     법규위반 도로형태  가해자   피해자  횟수
2050  2018  주간  화     8    19    11  전남  차대차  운전자법규위반  단일로  승합차   승용차   1
2842  2015  주간  화     8     8     0  충북  차대차  운전자법규위반  교차로  승합차  건설기계   1
2967  2013  주간  수     6    24    18  충남  차대차  운전자법규위반  단일로  승합차   화물차   1
957   2013  주간  토     6    10     4  울산  차대차  운전자법규위반  단일로  화물차   승용차   1
4249  2014  주간  화     5     5     0  전북  차대차  운전자법규위반  단일로  승용차   화물차   1
1303  2017  주간  목     5    14     9  강원  차대차  운전자법규위반  단일로  승합차   승합차   1
151   2012  주간  목     5    10     5  경기  차대차  운전자법규위반  단일로  승합차   승용차   1
2293  2015  야간  토     5     6     1  전북  차대차  운전자법규위반  단일로  화물차   화물차   1
137   2012  야간  토     5     6     1  경기  차대차  운전자법규위반  단일로  승합차   승용차   1
1747  2014  야간  일     5     5     0  경기  차대차  운전자법규위반  단일로  승용차   화물차   1
2900  2012  야간  수     5     5     0  강원  차대차  운전자법규위반  단일로  승용차   승용차   1
2123  2013  야간  토     5     7     2  전남  차대차  운전자법규위반  교차로  승용차   특수차   1

In [272]:
test=deathData#['사망자수','횟수']
test=test.groupby(by=['사망자수'], as_index=False).sum()
test

   사망자수        년도   사상자수   부상자수     횟수
0     1  58655690  44331  15218  29113
1     2   1688211   3295   1619    838
2     3    183331    572    299     91
3     4     66470    433    301     33
4     5     16109     58     18      8
5     6      4026     34     22      2
6     8      4033     27     11      2

In [ ]:


test=hurtData.drop('년도',1)
test=test.groupby(by=['발생지'], as_index=False).sum()
test=test.sort_values(by='사상자수', ascending=False)
test=test[['발생지','횟수']]
test.set_index(test['발생지'], inplace=True)
test=test.drop('발생지',1)
test=test.T
test.to_csv('Data/Processing/location.csv',encoding='euc-kr', index=True)

col_2=['주야','횟수']
dayNight=hurtData[col_2]
dayNight=dayNight.groupby(by=['주야'], as_index=False).sum()
dayNight.set_index(dayNight['주야'], inplace=True)
dayNight=dayNight.drop('주야',1)
dayNight=dayNight.T
dayNight.to_csv('Data/Processing/dayAndNight.csv',encoding='euc-kr', index=True)

col_2=['요일','횟수']
weekChar=['월','화','수','목','금','토','일']
week=hurtData[col_2]
week=week.groupby(by=['요일'], as_index=False).sum()
week.set_index(week['요일'], inplace=True)
week=week.drop('요일',1)
week=week.reindex(index=weekChar)
week=week.T
week.to_csv('Data/Processing/week.csv',encoding='euc-kr', index=True)

col_2=['사고유형','횟수']
accKind=hurtData[col_2]
accKind=accKind.groupby(by=['사고유형'], as_index=False).sum()
accKind.set_index(accKind['사고유형'], inplace=True)
accKind=accKind.drop('사고유형',1)
accKind=accKind.T
accKind.to_csv('Data/Processing/accKind.csv',encoding='euc-kr', index=True)

col_2=['도로형태','횟수']
roadKind=hurtData[col_2]
roadKind=roadKind.groupby(by=['도로형태'], as_index=False).sum()
roadKind.set_index(roadKind['도로형태'], inplace=True)
roadKind=roadKind.drop('도로형태',1)
roadKind=roadKind.T
roadKind.to_csv('Data/Processing/roadKind.csv',encoding='euc-kr', index=True)

col_2=['법규위반','횟수']
violationLaw=hurtData[col_2]
violationLaw=violationLaw.groupby(by=['법규위반'], as_index=False).sum()
violationLaw.set_index(violationLaw['법규위반'], inplace=True)
violationLaw=violationLaw.drop('법규위반',1)
violationLaw=violationLaw.T
violationLaw.to_csv('Data/Processing/violationLaw.csv',encoding='euc-kr', index=True)

col_2=['가해자','횟수']
perpetrator=hurtData[col_2]
perpetrator=perpetrator.groupby(by=['가해자'], as_index=False).sum()
perpetrator.set_index(perpetrator['가해자'], inplace=True)
perpetrator=perpetrator.drop('가해자',1)
perpetrator=perpetrator.T
perpetrator.to_csv('Data/Processing/perpetrator.csv',encoding='euc-kr', index=True)

col_2=['피해자','횟수']
victim=hurtData[col_2]
victim=victim.groupby(by=['피해자'], as_index=False).sum()
victim.set_index(victim['피해자'], inplace=True)
victim=victim.drop('피해자',1)
victim=victim.T
victim.to_csv('Data/Processing/victim.csv',encoding='euc-kr', index=True)